/* Background del sitio. buscar otro color que no sea negro pelao xd solo necesito ver bien los colores xdon*/
body{
    background-color: #2e323a;
}

/* Clase Panel. Si cambiamos el width y el height solamente lo hacemos aqui */
.panel{
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
}

.panel:hover{
    border: 1px solid #f7f8fa; /*quita este blanco, me da toc*/
    box-shadow: inset 0px 0px 0px 1px #f7f8fa;
    box-sizing: border-box;
}
/* Paneles del juego: rojo, azul, verde y amarillo.
/* tambien hay que buscar como hacer el circulo del medio */
.bottom-right-panel{
    background-color: #ff005d;
}
.bottom-left-panel{
    background-color: #0085b6;
}
.top-right-panel{
    background-color: #00d49d;
    
}
.top-left-panel{
    background-color: #fedf03; 
}

/* Cambio de color para cuando se active el panel */
.active{
    opacity: 0.4;
}
