/* Tipografías*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');


/* Fondo del html con imagen dinámica */
body{
    background-image: url(./backgrond_image.gif); 
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
}

/* Título "Simon Dice" */
#titulo{
    font-family: "Press Start 2P", serif;
    text-align: center;
    color: #f7f8fa;
    font-size: 24px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
}

/* Etiqueta de texto */
label {
    color: white;
    margin-bottom: 15px;
}

/* Formulario del jugador */
form#playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
}

/* Input del nombre del jugador */
input#playerName {
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
}

/* Tabla de puntajes */
h2#leaderboard {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-family: 'Press Start 2P';
}

/* Clase para los paneles */
.panel{
    width: 15vw;
    height: 15vw;
    display: inline-block;
    cursor: pointer;
    margin: 0.32vw;
};

    /* Responsive para telefonos */
    @media (max-width: 600px) {
        .panel {
          width: 40vw; 
         height: 40vw;
     }
    };

    /* Responsive para tablets */
    @media (min-width: 601px) and (max-width: 1024px) {
        .panel {
            width: 24vw;
            height: 24vw;
        }
    };

/* Clase para el contenedor de los paneles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

/* Hover, Paneles del juego */
.panel:hover{
    border: 1px solid #f7f8fa; 
    box-shadow: inset 0px 0px 0px 1px #f7f8fa;
    box-sizing: border-box;
}

/* Colores de los paneles */
    .bottom-right-panel{
        background-color: #ff005d;
    }
    .bottom-left-panel{
        background-color: #0085b6;
    }
    .top-right-panel{
        background-color: #00d49d;
        
    }
    .top-left-panel{
        background-color: #fedf03; 
    }

/* Clase para el panel activo */
.active{
    opacity: 0.4;
}


/* Popup de "perdiste" */
.popup {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f8fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Contenido del popup */
.losePopupContent {
    text-align: center;
}


/* Botones de inicio y reiniciar juego */
button {
    padding: 15px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #00d49d; 
    color: #f7f8fa;
    transition: all 0.3s ease;
    font-family: 'Play';
    text-transform: uppercase; 
    font-weight: bold;
}

/* Hover del boton */
button:hover {
    background-color: #008f72;
}

/* Botón de reinicio centrado*/ #TODO   
#resetButton {
    display: block;
    align-self: center;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

    /* Responsive botones - telefono */
    @media (max-width: 600px) {
        button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

/* Popup de "perdiste" */ #TODO
.popup {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f8fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 95%; 
    max-width: 600px; 
    box-sizing: border-box;
}

/* Contenido del popup */
.losePopupContent {
    text-align: center;
}

/* Contador de puntos */
h2 {
    text-align: center;
    color: #f7f8fa;
    font-size: 16px;
    margin: 10px 0;
    max-width: 600px;
}

/* Estilo para la tabla de puntajes */
table {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f7f8fa;
    color: #2e323a;
    font-size: 16px;
    text-transform: uppercase;
}

/* Estilo para las celdas de la tabla */
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #2e323a;
}

/* Estilo para la fila de encabezado de la tabla */
th {
    background-color: #00d49d;
    color: #f7f8fa;
}

/* Estilo para el contenedor de la landing page */
.landing-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 900px;
    align-items: center;
}

/* Estilo para el formulario del jugador */
#playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
}

/* Estilo para la tabla de puntajes */
#leaderboard {
    margin-top: 20px;
    color: #f7f8fa;
}

/*Estilo para el leaderboard en el juego */
#gameleaderboard {
    text-align: center;
    margin-top: 20px;
    color: #f7f8fa;
}
